@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.conteudo-header {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

header{
    background-color: #f9003c;
    height: 80px;
}

.menu-header{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.menu-header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.banner {
    background-image: url(../Imagens/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.texto-banner {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}

h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.linha-amarela {
    border: solid 1px #ffaf00;
}

.titulo-senai {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}


.mouse {
    width: 80px;
}

.sobre-projetos {
    background-color: #080324;
    padding-top: 40px;
}

.sobre-projetos h2 {
    color: #f9003d;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
}

.imagem-sobre {
    width: 40%;
}

.texto {
    width: 40%;
}


.texto-participantes {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}

p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.sobre-projetos h3 {
    color: yellow;
    font-size: 50px;
} 

