* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    margin: 0 auto;
    width: 1200px;    
}

.imagemfundo_header {
    background: url(../assetsTinyLove/imagens/fundo-celular.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    border-bottom: solid 5px #b34334;
}

.icone_logo {
    display: flex;
    justify-content: center;
    height: 45px;
}

.texto_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icones_tinylove {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0 auto;
    color: white;
    margin-top: 10px;
}
    .icone_facebook {
        color: white;
    }

    .icone_instagram {
        color: white;
    }

    .icone_twitter {
        color: white;
    }

.texto {
    color: white;
    height: 100px;
    width: 400px;
}

.container-texto {
    display: flex;
    justify-content: center;
    width: 135%;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 14px;
}

.container-texto h2 {
    padding: 15px;
}

.icones_celulares {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 30px;
}