@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.conteudo-header {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

header{
    background-color: #f9003c;
    height: 80px;
    position: fixed;
    width: 100vw
}

.menu-header{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.menu-header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    transition: 1s;
}

.menu-header a:hover {
    font-size: 2em;
    transition: 1s;
    /* color: black; */
    text-shadow: 4px 4px 4px rgb(78, 78, 78);
}

.banner {
    background-image: url(../Imagens/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.texto-banner {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}

h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.linha-amarela {
    border: solid 1px #ffaf00;
}

.titulo-senai {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}


.mouse {
    width: 80px;
}

.sobre-projetos {
    background-color: #080324;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre-projetos h2 {
    color: #f9003d;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
}

.imagem-sobre {
    width: 40%;
}

.texto {
    width: 50%;
}


.texto-participantes {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}

p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.sobre-projetos h3 {
    color: yellow;
    font-size: 50px;
} 

.info {
    background-image: url(../Imagens/imagem-fundo-info.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    padding: 40px;
}

.conteudo-card {
    display: flex;
    justify-content: space-between;
}

.card-info {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.card-info h3 {
    color: white;
    font-size: 22px;
}

.card-info p {
    color: #A259F7;
    font-size: 20px;
    font-weight: 600;
    border: solid 2px #A259F7;
    width: 250px;
    text-align: center;
    padding: 30px 0;
}

.endereco {
    padding: 40px 0;
    background-image: url(../Imagens/imagem-fundo-ranking.jpg);
}

.conteudo-endereco {
    position: relative;
    margin: 0 auto;
    width: 850px;
}

.texto-endereco {
    background-color: #010010;
    border: solid 2px #A259F7
}

 .texto-endereco p {
    width: 400px;
    color: #A259F7;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;  
    padding: 55px 55px;
}

.conteudo-endereco h2 {
    color: #ffaf00;
    font-size: 50px;
    font-weight: 500;
}

.mapa {
    position: absolute;
    top:0px;
    right: 20px;
    width: 250px;
}

footer {
    height: 80px;
    background-color: #f9003d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}