* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


h1 {
    color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-size: 30px;
    color: blueviolet;
}

.link-do-header {
    color: brown;
}

#paragrafo_especifico {
    color: chocolate;
    background-color: cyan;
    width: 400px;
}

.nome_portal {

    font-weight: bold;
    font-size: 50px;
}

.conteudo_texto {
    
    width: 600px;    
    background-color: darkblue;
}

.retangulo_exemplo {
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;
    margin: 10px;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    
    padding: 10px;
}
